*{
    margin: 0;
    padding: 0;
}

body{
    background: whitesmoke;
    color: rgb(70 70 70);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas:
    "header header header"
    "divnav divnav sidebar"
    "contenido contenido sidebar"
    "footer footer footer";

}
.contenedor > div, 
.contenedor .header,
.contenedor .contenido,
.contenedor .footer {
    background: rgb(70 70 70);
    padding: 20px;
    border-radius: 10px;
}

.contenedor .header {
    background: rgb(70 70 70);
    color: white;
    align-items: center;
    text-align: center;
    grid-area: header;
}

.contenedor > div,
.contenedor .divnav{
    padding: 10px 0px 0px 0px;
}

.contenedor .divnav{
    grid-area: divnav;
}

.contenedor .contenido {
    grid-area: contenido;
}

.contenedor .sidebar{
    grid-column: 3 / 4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;
}

.contenedor .footer{
    background: black;
    color: white;
    grid-area: footer;
}

/*--------------------------------------------------------------------------------------------- **/
@media screen and (max-width: 768px) {
    .contenedor{
        grid-template-areas:
        "header header header"
        "divnav divnav divnav"
        "contenido contenido contenido"
        "sidebar sidebar sidebar"
        "footer footer footer";
    }
}

/*--------------------------------------------------------------------------------------------- **/
.img_perfil{
    margin-top: 10px;
    border-radius: 100px;
    border: black solid;
}

.img_body{
    margin-top: 10px;
    border-radius: 100px;
    border: black solid;
    position: relative;

}

/*--------------------------------------------------------------------------------------------- **/
.titulo{
    color: yellow;
    font-weight: bold;
    text-align: center;
}

/*--------------------------------------------------------------------------------------------- **/
.boton{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 15px;
    background-color: gray;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
}

.boton:hover {
    background-color: yellow;
    color: black;
}

/*--------------------------------------------------------------------------------------------- **/
ul {
    list-style-type: none;
    overflow: hidden;
    object-position: center;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-right: 1px solid yellow;
}

li a:active{
    color: black;
}

li a:hover{
    background: yellow;
    color: black;
}

/*--------------------------------------------------------------------------------------------- **/
.dato{
    color: whitesmoke;
    text-align: left;
}

.aclaracion{
    color: darkgrey;
    text-align: left;
}

.dato_oculto{
    color: whitesmoke;
    display: none;
    float: right;
    border-style: 3px;
}
